<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern> [%level] %logger{10} [%file:%line] %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="ZAFIRA" class="com.qaprosoft.zafira.log.ZafiraLogAppender">
        <layout class="com.qaprosoft.zafira.log.JSONLayout">
            <remoteHost>demo.qaprosoft.com</remoteHost>
            <Pattern> [%level] %logger{10} [%file:%line] %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>application.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern> [%level] %logger{10} [%file:%line] %msg%n</Pattern>
        </layout>
    </appender>

    <root level="TRACE" >
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ZAFIRA" />
        <appender-ref ref="FILE" />
    </root>

</configuration>